.wrapper {
    width: 500px;
    display: block;
    margin: 25px auto;
}

.heading {
    width: 100%;
    text-align: center;
    color: #276769;
    font-weight: bold;
    font-size: 200%;
    margin: 25px 0;
}

.paragraph {
    float: left;
    margin-bottom: 30px;
}

center {
    display: flex;
    justify-content: center;
    align-items: center;
  }