.wrapper {
    width: 75%;
    display: block;
    margin: 25px auto;
    align-items: center;
}

.heading {
    width: 100%;
    text-align: center;
    color: #276769;
    font-weight: bold;
    font-size: 200%;
    margin: 25px 0;
}

.paragraph {
    float: left;
    text-align: center;
}

center {
    display: flex;
    justify-content: center;
    align-items: center;
}