/* The hero image */
.title {
  width: 100%;
  text-align: center;
  color: #276769;
  font-weight: bold;
  font-size: 200%;
  margin: 25px 0px;
}

.card_title {
  text-align: center;
  color: #276769;
  font-size: 150%;
}